html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

header{
    background-color: rgb(115, 77, 40);
    margin-top: 0;
    padding-top: 0; 
    width: 100%;
    height: 5em;
}
footer{
    background-color: rgb(115, 77, 40);
    padding: 2%;
    text-align: center;
}
#home{
    background-image: url(/home/rousset/Bureau/WorkShop_TrashTower/WorkShop_TrashTower/images/montagne_déchet.jpg);
    height: 680px;
}

section{
    clear: both;
}

h1{
    color: aliceblue;
    margin-left: 5%;
}

#h2{
    height: 25%;
    margin-left: 15%;
}


h3, h2{
    color: rgb(115, 77, 40) !important;
    text-align: center;
}


#trash_tower{
    width: 100%;
    z-index: -1;
}

.action_call{
    height: 60%;
    float: right;
    margin: 50px;
}

a {
    text-decoration: none !important;
}

p{
    text-align: left;
}
.link_index2{
    color: white !important;
}
